:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.5rem;
  overflow: auto;
}

.inner {
  margin: auto 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
}

.wrong {
  background-color: var(--danger-color);
  border-color: var(--danger-color);
  color: var(--body-bg);
}
