@import '../../../styles/variables';

.hero-slide {
  overflow: hidden;
  padding: 0 60px 0 60px;
}

.hero-slide-body {
  background-color: var(--contrast-bg);
  border-radius: 2rem;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;

  @media (width < $md) {
    padding: 2rem;
    height: 600px;
    flex-direction: column;
  }

  @media (width < $sm) {
    padding: 1rem;
    height: 400px;
  }
}

.light,
.dark {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .dark {
    display: block;
  }
}

@media (prefers-color-scheme: light) {
  .light {
    display: block;
  }
}

@media (width >= $md) {
  .image {
    width: 60%;
  }

  .text {
    width: 40%;
    font-size: 1.8rem;
  }
}

@media (width < $md) {
  .image {
    width: 100%;
  }
  .text {
    font-size: 1.4rem;
    order: -1;
    text-align: center;
  }
}

@media (width < $sm) {
  .text {
    font-size: 1.2rem;
  }

  .save-your-cards {
    display: none;
  }
}

@media (width >= $lg) {
  .popup-slide .text {
    margin-top: -2rem;
  }
}

.with-extension {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 1rem 0.4rem 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  background: var(--body-bg);
  font-size: 1rem;
  text-align: left;
  line-height: 1em;
}

.popup-demonstration {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;

  @media (width >= $md) {
    margin-top: 3rem;
  }

  .popup {
    content: ' ';
    width: 100%;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.4));
  }

  .selected-text {
    content: ' ';
    height: 100px;
    width: 100%;
    max-width: 320px;
    background: url('./chrome-text-light.svg') no-repeat top center;
    background-size: contain;

    @media (prefers-color-scheme: dark) {
      background-image: url('./chrome-text-dark.svg');
    }

    @media (width < $sm) {
      opacity: 0;
      height: 0;
    }
  }
}

.master-cards-slide {
  .hero-slide-body {
    .image {
      align-self: flex-end;
    }
    .iphone {
      height: 350px;
      display: flex;
      justify-content: center;
      padding-top: 2rem;

      @media (width < $md) {
        height: 250px;
        padding-top: 1rem;
      }
    }
  }
}

.youtube-slide {
  .hero-slide-body {
    gap: 3rem;
  }

  img {
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.4));
  }
}
