.srs-card-font {
  --aspect-ratio: calc(var(--screen-height-px) / var(--screen-width-px));
  --inner-text-length: 30;
  font-size: clamp(
    1vw + 2vh,
    (1200vh + 500vw) / var(--inner-text-length),
    5vw * var(--aspect-ratio)
  );
}

.show-answer-button {
  @include unstyled();
  text-decoration: 1px underline dotted;
  text-underline-offset: 0.2rem;
}
