@use '@angular/material' as mat;
@use 'sass:map';

@import '@vocably/styles/mixins/theme';
@import '@vocably/styles/variables';
@import './material-palette-generator';

:root {
  // Both screen width and screen height will be overridden in
  --screen-width-px: 1024;
  --screen-height-px: 768;

  --app-height: 100vh;
  --container-padding: #{$container-padding};
  --header-items-height: #{$header-items-height};
  --header-padding-bottom: #{$header-padding-bottom};
  --header-height: calc(
    var(--header-items-height) + var(--header-padding-bottom)
  );

  --mdc-outlined-text-field-container-shape: 8px;
  --mdc-filled-text-field-container-shape: 8px;

  // Letter spacing on buttons
  --mdc-text-button-label-text-tracking: 0;

  @media (max-width: $md) {
    --container-padding: #{$container-padding-sm};
  }
}

body {
  color: var(--text-color);
  background: var(--body-bg);
}

// Typography Definitions (Moved before Theme definitions)
$vocably-body-font: mat.m2-define-typography-level(
  $font-family: Roboto,
  $font-weight: 300,
  $font-size: 1rem,
  $line-height: 1.5,
  $letter-spacing: normal,
);

$vocably-typography-config: mat.m2-define-typography-config(
  $body-1: $vocably-body-font,
  $body-2: $vocably-body-font,
  $headline-6:
    mat.m2-define-typography-level(
      $font-family: Ruda,
      $font-weight: 500,
      $font-size: 1.1rem,
    ),
  $headline-5:
    mat.m2-define-typography-level(
      $font-family: Ruda,
      $font-weight: 500,
      $font-size: 2rem,
    ),
  $headline-4:
    mat.m2-define-typography-level(
      $font-family: Ruda,
      $font-weight: 500,
      $font-size: 2.5rem,
    ),
);

$mat-vocably-primary-palette: mat.m2-define-palette(mat.$m2-grey-palette);
$mat-vocably-light-accent-palette: mat.m2-define-palette(
  generatePalette($v-light-color-primary),
  A200,
  A100,
  A400
);
$mat-vocably-dark-accent-palette: mat.m2-define-palette(
  generatePalette($v-dark-color-primary),
  A200,
  A100,
  A400
);
$mat-vocably-light-warn-palette: mat.m2-define-palette(
  generatePalette($v-light-color-danger)
);
$mat-vocably-dark-warn-palette: mat.m2-define-palette(
  generatePalette($v-dark-color-danger)
);

$mat-vocably-light-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $mat-vocably-primary-palette,
      accent: $mat-vocably-light-accent-palette,
      warn: $mat-vocably-light-warn-palette,
    ),
    typography: $vocably-typography-config,
  )
);

$mat-vocably-dark-theme: mat.m2-define-dark-theme(
  (
    color: (
      primary: $mat-vocably-primary-palette,
      accent: $mat-vocably-dark-accent-palette,
      warn: $mat-vocably-dark-warn-palette,
    ),
    typography: $vocably-typography-config,
  )
);

html {
  @include theme-variables($light-theme);
  @include mat.all-component-themes($mat-vocably-light-theme);
}

@media (prefers-color-scheme: dark) {
  html {
    @include theme-variables($dark-theme);
    @include mat.all-component-themes($mat-vocably-dark-theme);
  }
}

@include mat.core();
@include mat.typography-hierarchy($mat-vocably-light-theme);
