@import '@vocably/styles/variables';

:host {
  display: flex;
}

.pl-0 {
  padding-left: 0;
}

.select {
  ::ng-deep {
    .mat-mdc-select-trigger {
      gap: 0.5rem;
      color: var(--emphasize-color);
      font-weight: 400;
    }
  }
}
