@import '../../styles/variables';

:host {
  display: block;

  // Reddit sets visibility: hidden for custom elements
  visibility: visible !important;
}
.title {
  width: 200px;
  height: 18px;
  margin-bottom: 12px;
}

.text {
  height: 16px;
  margin-bottom: 8px;
}
