@import '../../styles/variables';

:host {
  --icon-size: 24px;
  display: inline-block;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s;

  &:active {
    transform: scale(0.8);
  }

  * {
    --size: var(--icon-size);
    --color: #{$v-light-color-muted};
  }
}
