@use '@angular/material' as mat;

:host {
  display: block;
}

.streak-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.numbers-wrapper {
  position: relative;
  margin-bottom: 1rem;
}

.number {
  font-size: 8rem;
  line-height: 6.2rem;
  font-weight: 400; // Adjust as needed
  color: var(--text-color);

  &.previous {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
  }
}

.subtitle {
  margin-bottom: 1rem;
  color: var(--text-color);
}

.days-list {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
  justify-content: center;
  height: 42px; // Fixed height to accommodate scaling
}

.day-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;

  &.last-checked {
    width: 42px;
    height: 42px;

    .day-circle {
      width: 42px;
      height: 42px;
      border-radius: 42px;
    }
  }

  .day-circle {
    width: 32px;
    height: 32px;
    border-radius: 32px;
    background-color: var(--contrast-bg); // Unchecked background
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
  }

  .day-text {
    font-size: 10px;
    color: var(--text-color); // Unchecked text
  }

  &.checked {
    .day-circle {
      background-color: var(--primary-color);
    }

    .day-text {
      color: var(--on-primari-color);
    }
  }
}
