.env.local
.env.development
.env.development.local
deck.json
deck*.json
metadata*.json
user-file*.json
result.csv
temp-metadata.json
original-metadata.json
allowed-sandbox-emails.json
words-*.*
*.jsonl

