@import '../../../../styles/variables';

.text-example {
  padding: 2rem;
  border-radius: $border-radius;

  .large {
    color: var(--emphasize-color);
    font-size: 140%;
  }
}

.text-example ::ng-deep *:last-child {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-end;

  @media (width < 900px) {
    flex-direction: column;
  }
}

.col1 {
  flex: 0 0 50%;
}

.col2 {
  flex: 1;
}

.instruction {
}

.steps {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: stretch;

  @media (width < 900px) {
    flex-direction: column;
  }

  .step {
    flex: 1;
    border-radius: $border-radius;
    padding: 1rem;

    display: flex;

    .icon {
      width: 3rem;
    }

    .text {
      .h {
        font-weight: bold;
      }
    }
  }
}

.mb-3 {
  margin-bottom: 3rem;
}

.contrast-bg {
  background-color: var(--elevation-1);

  @media (prefers-color-scheme: dark) {
    background-color: var(--contrast-bg);
  }
}
