.results-container {
  vocably-translation {
    display: block;
    max-width: inherit;
  }
}

#search {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

vocably-search-form {
  --search-text-font-size: 42px;
}
