@import '../../styles/component';

$input-padding-x: 14px;
$input-padding-y: 10px;

$section-margin: 8px;

:host {
  @include base-font();
  // Reddit sets visibility: hidden for custom elements
  visibility: visible !important;
  max-width: min(90vw, 600px);
  display: inline-block;

  li {
    margin: 0;
  }
}

.vocably-mb-4 {
  margin-bottom: 4px;
}

.vocably-mb-6 {
  margin-bottom: 6px;
}

.vocably-mt-12 {
  margin-top: 12px;
}

.vocably-pt-12 {
  padding-top: 12px;
}

.vocably-pb-12 {
  padding-bottom: 12px;
}

.vocably-mb-12 {
  margin-bottom: 12px;
}

.vocably-mb-18 {
  margin-bottom: 18px;
}

.vocably-bottom-12-border {
  padding-bottom: 12px;
  border-bottom: 1px solid $v-light-color-elevation-2;
  margin-bottom: 12px;
}

.vocably-text-right {
  text-align: right;
}

.vocably-emphasized {
  color: $v-light-color-emphasize;
  font-weight: bold;
}

.vocably-small {
  font-size: $base-font-size * 0.9;
}

.vocably-muted {
  color: $v-light-color-muted;
}

.vocably-invisible-space {
  display: inline-block;
  width: 0;
  font-size: 0;
}

.vocably-error {
  color: $v-light-color-danger;
}

.vocably-loading-container {
  position: relative;
}

.vocably-reload {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  opacity: 0.5;
}

@keyframes vocably-floating {
  0% {
    transform: translate(0, -2px);
  }
  50% {
    transform: translate(1px, 2px);
  }
  100% {
    transform: translate(0, -2px);
  }
}

.explanation-frame {
}

.explanation-frame-visible {
  max-height: 500px;
  opacity: 1;
}

.panel {
  background: $v-light-color-elevation-2;
  border: none;
  border-radius: $v-border-radius;
  padding: $input-padding-x;
}

.explanation {
  p,
  ol,
  ul {
    margin: 0 0 12px 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  ol,
  ul {
    padding-inline-start: 1.2em;
  }

  strong {
    font-weight: bold;
  }
}

vocably-play-sound {
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  margin-right: 4px;
}

.vocably-rate-container {
  transition: all 1s ease-in-out;
  max-height: 500px;
  opacity: 1;
  box-sizing: border-box;
  overflow: hidden;

  &.vocably-rate-container-hidden {
    max-height: 0;
    opacity: 0;
  }
}

.vocably-direct-translation {
  display: flex;
  flex-direction: row;
}

.vocably-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding-left: 18px;
    position: relative;

    &::before {
      content: '•';
      font-size: 18px;
      position: absolute;
      left: 6px;
      top: 0;
    }
  }
}

.vocably-italic {
  font-style: italic;
}

.vocably-language-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;

  .vocably-language-wrapper {
    width: 46%;

    vocably-language-selector {
      width: 100%;
    }
  }
}

.vocably-button {
  @include button();
  @include inline-button();
}

.vocably-link-button {
  @include unstyled();
  @include link(!important);
}

.vocably-text-link,
.vocably-text-link:active,
.vocably-text-link:visited {
  color: $v-light-color-body !important;
  text-decoration: underline !important;
}

.vocably-nondecorated {
  text-decoration: none !important;
}

.vocably-text-link:hover {
  color: $v-light-color-emphasize !important;
}

.padding-left-12 {
  padding-left: 12px;
}
