.grade {
  --nav-height: 48px;

  height: 100%;
  width: 100%;
  position: relative;
}

.grade-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: var(--nav-height);
  overflow: scroll;
}

.grade-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  display: flex;
  align-items: center;
  justify-content: center;
}
